body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: blue;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 20px;
  width: 300px;
}

.shoe {
  width: 80%;
  margin-top: 30px;
}

.nike {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
}

.btn {
  color: azure;
  background-color: rgb(201, 34, 34);
  margin-bottom: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: 1px solid red;
}

